.experience {
          width: 100%;
          height: 1140px;
          background-color: #F9FAFB;

          .wrap-btn {
                    text-align: center;

                    button {

                              margin-top: 96px;
                              width: 105px;
                              height: 28px;
                              border-radius: 12px;
                              border: none;
                              font-weight: 500;
                              font-size: 14px;
                              line-height: 20px;
                              background-color: var(--button-color);

                    }
          }

          h1 {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    color: #4B5563;
                    text-align: center;
                    padding-top: 16px;
          }

          .wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .card {
                              width: 896px;
                              height: 288px;
                              border-radius: 12px;
                              padding: 32px;
                              background-color: white;
                              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                              display: flex;
                              justify-content: space-between;

                              margin-top: 48px;



                              img {
                                        width: 105px;
                                        height: 30px;
                              }

                              .wrapper {
                                        h2 {
                                                  color: var(--primary-color);
                                                  font-weight: 600;
                                                  font-size: 20px;
                                                  line-height: 28px;

                                                  margin-top: -32px;

                                        }

                                        ul {
                                                  padding-top: 16px;

                                                  li {
                                                            color: #4B5563;
                                                            padding-top: 4px;
                                                  }
                                        }

                                        p {
                                                  color: #4B5563;
                                                  font-weight: 400;
                                                  font-size: 16px;
                                                  line-height: 24px;
                                        }
                              }

                              &:hover {

                                        box-shadow: rgba(8, 8, 177, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                              }
                    }

                    .card-2 {
                              width: 896px;
                              height: 264px;
                              border-radius: 12px;
                              padding: 32px;
                              background-color: white;
                              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                              display: flex;
                              justify-content: space-between;
                              margin-top: 48px;

                              img {
                                        width: 120px;
                                        height: 25px;
                              }

                              .wrapper {
                                        h2 {
                                                  color: var(--primary-color);
                                                  font-style: 600px;
                                                  font-size: 20px;
                                                  line-height: 28px;
                                                  margin-top: -32px;
                                        }

                                        ul {
                                                  padding-top: 16px;

                                                  li {
                                                            color: #4B5563;
                                                            padding-top: 4px;
                                                  }
                                        }

                                        p {
                                                  color: #4B5563;
                                                  font-weight: 400;
                                                  font-size: 16px;
                                                  line-height: 24px;
                                        }
                              }

                              &:hover {

                                        box-shadow: rgba(8, 8, 177, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                              }
                    }


                    .card-3 {
                              width: 896px;
                              height: 180px;
                              border-radius: 12px;
                              padding: 32px;
                              background-color: white;
                              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                              display: flex;
                              justify-content: space-between;
                              margin-top: 48px;

                              img {
                                        width: 140px;
                                        height: 42px;
                              }

                              .wrapper {
                                        h2 {
                                                  color: var(--primary-color);
                                                  font-style: 600px;
                                                  font-size: 20px;
                                                  line-height: 28px;
                                                  margin-top: -5px;
                                        }

                                        ul {
                                                  padding-top: 16px;

                                                  li {
                                                            color: #4B5563;
                                                            padding-top: 4px;
                                                  }
                                        }

                                        p {
                                                  color: #4B5563;
                                                  font-weight: 400;
                                                  font-size: 16px;
                                                  line-height: 24px;
                                        }
                              }

                              &:hover {

                                        box-shadow: rgba(8, 8, 177, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                              }
                    }
          }
}

@media (prefers-color-scheme: dark) {
          .experience {
                    background-color: #111827;

                    h1 {
                              color: white;
                    }

                    .wrapper {
                              .card {
                                        background-color: #1F2937;

                                        .wrapper {
                                                  h2 {
                                                            color: white;
                                                  }

                                                  ul {
                                                            li {
                                                                      color: white;
                                                            }
                                                  }

                                                  p {
                                                            color: white;
                                                  }


                                        }

                              }

                              .card-2 {
                                        background-color: #1F2937;

                                        .wrapper {
                                                  h2 {
                                                            color: white;
                                                  }

                                                  ul {
                                                            li {
                                                                      color: white;
                                                            }
                                                  }

                                                  p {
                                                            color: white;
                                                  }


                                        }

                              }

                              .card-3 {
                                        background-color: #1F2937;

                                        .wrapper {
                                                  h2 {
                                                            color: white;
                                                  }

                                                  ul {
                                                            li {
                                                                      color: white;
                                                            }
                                                  }

                                                  p {
                                                            color: white;
                                                  }


                                        }

                              }
                    }
          }
}